.App {
  text-align: center;
}

.main_container, .login-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #393E46;
  padding: 0 20px;
  margin: auto;
  width: 80vw;
  height: 523px;
}

#screenshot{
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  border-radius: 30px;
  background-color: #00ADB5;
  width:300px;
  height:320px;
  padding:20px;
  overflow: hidden;
}

section.home-section{
  display: flex;
  flex-direction: column;
  align-items:center;
  margin: 10px;
}

.button{
  font-size: 15px;
  border: none;
  border-radius: 30px;
  /* max-width: 100%;
  height: 30px; */
  margin: 10px;
  padding: 5px;
  cursor: pointer;
  width: 80%;
  height: 40px;
  background-color: #EEEEEE;
}

.button-space{
  margin-top: 50px;
}

.button:hover{
  background-color: #2C4E80;
  color: white;
  transition: background .2s ease-in-out;
}
.error{
  color: #B31312;
  font-size: x-small;
}
.error {

  display: block;
  color: #cc0033;
  text-align: left;
  font-weight: bold;

} 

.input-error {
  input[type='file']{
    border: 2px solid #cc0033;
    line-height: 37px;
    outline: none;
  }
  .error{
    display: inline;
  }
}

a{
  text-decoration: none;
  color: white;
}

p{
  color: #F6F5F5;
}

.scan-text{
  text-align: center;
  position: absolute;
  top: 150px;
  left: 30px;
  max-width: 100% 
}

input[type="file"] {
  display: block;
  font-style: oblique;
  font-size: 15px;
  color: rgb(153,153,153);
  width: 350px;
  max-width: 100%;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #555; 
}

input[type='file']::file-selector-button{
  font-weight: bold;
  color: #548CA8;
  padding: 5px;
  border: thin solid grey;
  margin-right: 20px;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #2C4E80;
}

.user-input{
  margin: 50px;
}

input[type=text].user-input-title{
  max-width: 100%;
  font-style: oblique;
  padding: 3px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #555; 
  outline: none;
}

input[type=text]:focus::placeholder{
  color: transparent;
}

input[type=text]:focus{
  font-style:normal;
  width: 152px;
}

.input-group{
  margin-top: 100px;
}

.download-button{
  margin-top: 20px;
}
.login-auth-box,.login-image-section{
  width: 50%;
  height: 60%;
}


.login-image-section > #login-side-image{
 width: 100%;
 height: 100%;
}
.login-container{
 background-color: white;
 color: black;
}
.login-button{
  font: 15px;
  border: none;
  background-color: #2A629A;
  color: white;
  width: 20%;
  height: 30px;
  cursor: pointer;
}

.input-container{
 display: flex;
 align-items: center;
 justify-content: center;
}
.input-label{
  margin: 5px;
}

@media only screen and (max-width: 860px) {
  /* For mobile phones: */
  .qr_section, .input-group{
    width: 100%;
  }
  .main_container, .login-container{
    display: flex;
    flex-direction: column;
    height: 790px;
  }
  .scan-text{
    text-align: center;
    max-width: 100% 
  }

  .input-group{
    margin-top: 20px;
  }
  .button-space{
    margin-top: auto;
  }
  input[type="text"]:focus{
    font-size: 25px;
  }
  .login-auth-box{
    padding-top: 120px;
    width: 100%;
    z-index: 1;
    background-color: white;
  }
  .login-image-section{
    display: none
  }
  .input-label{
    margin: 3px;
  }
  .login-container{
    background-image: url('./scanImage.jpeg');
    background-size:contain;
  }
}